body{
    margin: 0;
    padding: 0;
    background-color: #acaaaa52;
  }
  .navigation{
  border-bottom: 4px solid #2b3798;
  margin-bottom: 7px;
}





.top-head {
    background: linear-gradient(-45deg,lightgrey,black );
    min-height: 35px;
    color: #fff;
}













