<section class=" top-head">
    <div class="container-fluid">


        <div class="row p-2">
            <div class="col-sm-6 text-center text-sm-left">
                <span>&nbsp;&nbsp; <strong> </strong><i class="fa fa-envelope"></i>&nbsp;&nbsp; yogesh.gupta93@rediffmail.com
                    &nbsp;&nbsp;|&nbsp;&nbsp;<strong> </strong> <i class="fa fa-phone"></i> &nbsp;&nbsp;9711708633
                </span>
            </div>
            <div class="col-sm-6 text-center text-sm-right">
                <div class="mr-2">{{today | date:'fullDate'}} {{today | date:'h:mm:ss a'}}</div>
            </div>
        </div>

    </div>


</section>


<!-- <section class="bg-white navigation">

    <div class="container">
        <div class="row">
            <div class="col-md-5 align-self-center" style="text-align-last: center;">
                <button mat-raised-button color="warn"><span class="material-icons">
                    arrow_back
                    </span>&nbsp; Back To Home</button> 
                </div>
            <div class="col-md-5 ">
                    <img class="img-fluid  " src="assets/logo-1.png" alt="logo" >
            </div>

        </div>
    </div>
</section> -->