body{
    margin: 0;
    padding: 0;
    background-color: #acaaaa52;
  }
  .navigation{
  border-bottom: 4px solid #2b3798;
  margin-bottom: 7px;
}





.top-head {
    background: linear-gradient(-45deg,lightgrey,black );
    min-height: 35px;
    color: #fff;
}

.nav-link{
  color: white !important;
}
.navbar-light .navbar-nav .nav-link.active, .nav-link:hover >li {
  color: red !important;
}
.navbar-brand{
  color: #28a745;
  font-size: x-large;
  font-weight: bolder;
  font-family: cursive;

}

.navbar{
  background-color: black !important;
}











