<header></header>
<section class="badge-default w3-center w3-animate-left world-history">
    <div class="container">
        <div class="card about-us my-4">
            <div class="card-header main-head px-3 py-0">
                <h2 class="innerheading">Welcome to World-History</h2>
            </div>
            <div class="card-body main-body">
                <p>
                    World & history may sound like a broad topic – but that just means
                     there’s an endless amount of articles to get lost in!

Here we have facts from business & religion to world history & travel, with topics about 
countries to inspire your wanderlust, you’re sure to find countless facts inside to fill 
your brain!
                </p>
                <div class="row">
                    <div class="col-sm-4" class="sidebar">
                        <!-- SIDEBAR CONTENT -->
                        <div class="content" fusePerfectScrollbar>

                            <div class="steps">
                                <h3>World-History</h3>

                                <hr />
                                <div class="step current completed" (click)="businessenonomy()"
                                    [style.color]="organizationTextColor" [style.background-color]="organizationColor">
                                    <div class="index">
                                        <span>
                                            <mat-icon>ac_unit</mat-icon>
                                        </span>
                                    </div>
                                    <div class="title">
                                         Business and Economy
                                    </div>
                                </div>
                                <hr/>     
                                <div class="step current completed" (click)="crimelaw()" [style.color]="mockTextColor"
                                    [style.background-color]="mockColor">
                                    <div class="index">
                                        <span>
                                            <mat-icon>ac_unit</mat-icon>
                                        </span>
                                    </div>
                                    <div class="title">
                                        Crime and Law
                                    </div>
                                </div>
                                <hr />
                                <div class="step current completed" (click)="history()"
                                    [style.color]="sesTextColor" [style.background-color]="sesColor">
                                    <div class="index">
                                        <span>
                                            <mat-icon>ac_unit</mat-icon>
                                        </span>
                                    </div>
                                    <div class="title">
                                        History
                                    </div>
                                </div>
                                <hr />
                                <div class="step current completed" (click)="holidaysevents()"
                                    [style.color]="socialTextColor" [style.background-color]="socialColor">
                                    <div class="index">
                                        <span>
                                            <mat-icon>ac_unit</mat-icon>
                                        </span>
                                    </div>
                                    <div class="title">
                                       Holidays and Events 
                                    </div>
                                </div>
                                <hr />
                                <div class="step current completed" (click)="religion()"
                                    [style.color]="contactTextColor" [style.background-color]="contactColor">
                                    <div class="index">
                                        <span>
                                            <mat-icon>ac_unit</mat-icon>
                                        </span>
                                    </div>
                                    <div class="title">
                                       Religion
                                    </div>
                                </div>
                                <hr />
                                <div class="step current completed" (click)="traveltourism()"
                                    [style.color]="paymentTextColor" [style.background-color]="paymentColor">
                                    <div class="index">
                                        <span>
                                            <mat-icon>ac_unit</mat-icon>
                                        </span>
                                    </div>
                                    <div class="title">
                                       Travel and Tourism
                                    </div>
                                </div>
                                <hr />
                               


                            </div>

                        </div>
                        <!-- / SIDEBAR CONTENT -->

                    </div>
                    <div class="col-sm-8 details">
                        
                        <div class="card">
                            <h3 class="detailTitle">{{title}}</h3>

                            <hr />
                        <div *ngIf="title === 'Business and Economy'" fusePerfectScrollbar>
                            <p>  Business and economy may not be the most interesting topics. Fortunately, we found a way to make it
                                entertaining! If you think about it, we deal with business every time we buy something.
                   
                               So take your favorite business, like Coca-Cola or Starbucks, and find out all there is to know here!  </p>
                               <button mat-raised-button  color="accent"><i class="fa fa-heart mr-1 "></i>LIKE</button>      
                               <button mat-raised-button color="basic"><i class="fa fa-share mr-1"></i>SHARE</button>       
                               <button mat-raised-button color="primary"><i class="far fa-paper-plane"></i>FOR MORE</button>

                        </div>
                        <div *ngIf="title === 'Crime and Law'" fusePerfectScrollbar>
                            <p> 
                                The justice system seeks to bring order and stability to a world that, otherwise, would be in constant chaos.
                                As it turns out, there are actually quite a few contradictions and absurd laws that simply make a mockery of
                                 the entire system!
                   
                               Laws still in place such as “you cannot carry a plank along the pavement” or “you’re not allowed to be drunk 
                               in a pub” are found in the UK, while the USA is possibly even stranger with laws preventing things such as
                                eyeball selling in Texas or bear wrestling matches in Alabama!
                             </p>
                               <button mat-raised-button  color="accent"><i class="fa fa-heart mr-1 "></i>LIKE</button>      
                               <button mat-raised-button color="basic"><i class="fa fa-share mr-1"></i>SHARE</button>       
                               <button mat-raised-button color="primary"><i class="far fa-paper-plane"></i>FOR MORE</button>

                        </div>
                        <div *ngIf="title === 'History'" fusePerfectScrollbar>
                            <p> 
                                "Those who do not learn history are doomed to repeat it.” This infamous quote is known by pretty much everyone. 
                                But just how much history do you actually know? Certainly you know the basics, but there is even much left to be 
                                learned about those.
                    
                                With a topic like history, there’s hours of facts here that will be both educational and mind blowing! 

                            </p>
                               <button mat-raised-button  color="accent"><i class="fa fa-heart mr-1 "></i>LIKE</button>      
                               <button mat-raised-button color="basic"><i class="fa fa-share mr-1"></i>SHARE</button>       
                               <button mat-raised-button color="primary"><i class="far fa-paper-plane"></i>FOR MORE</button>

                        </div>
                        <div *ngIf="title === 'Holidays and Events'" fusePerfectScrollbar>
                            <p> 
                                Almost everyone loves holidays, yet surprisingly very little facts are actually known about the origin
                s or history behind them. Seeing family on Christmas, trick-or-treating on Halloween, or exchanging gifts 
                with your loved one on Valentine’s Day are traditions that have passed down through the ages, but what 
                actually started these holidays?    
                            </p>
                               <button mat-raised-button  color="accent"><i class="fa fa-heart mr-1 "></i>LIKE</button>      
                               <button mat-raised-button color="basic"><i class="fa fa-share mr-1"></i>SHARE</button>       
                               <button mat-raised-button color="primary"><i class="far fa-paper-plane"></i>FOR MORE</button>

                        </div>
                        <div *ngIf="title === 'Religion'" fusePerfectScrollbar>
                            <p>  
                                You don’t have to be religiously inclined to find the facts posted in the Religion category informative
                                and intriguing. Details about religions all across the world are discussed in a non-biased way. Learn not 
                                only why gifts are given at Christmas, but about the Mormons, Jedi Knights, and even John the Baptist! 
                            </p>
                               <button mat-raised-button  color="accent"><i class="fa fa-heart mr-1 "></i>LIKE</button>      
                               <button mat-raised-button color="basic"><i class="fa fa-share mr-1"></i>SHARE</button>       
                               <button mat-raised-button color="primary"><i class="far fa-paper-plane"></i>FOR MORE</button>

                        </div>
                        <div *ngIf="title === 'Travel and Tourism'" fusePerfectScrollbar>
                            <p> 
                                Here at The Fact Site we have an array of facts spanning every area of travel, tourism and general 
                geographical topics, from letting you in on the world’s longest place names to the smallest countries. 
                We share facts, figures and information from every corner of the map. 
                            </p>
                               <button mat-raised-button  color="accent"><i class="fa fa-heart mr-1 "></i>LIKE</button>      
                               <button mat-raised-button color="basic"><i class="fa fa-share mr-1"></i>SHARE</button>       
                               <button mat-raised-button color="primary"><i class="far fa-paper-plane"></i>FOR MORE</button>

                        </div>
                    </div>



                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



<footer></footer>