<header></header>
<section class="row login-card">
  <div class="col-sm-6 card-1">
    <mat-card class="facts">
      <mat-card-header>
        <mat-card-title style="color:white">Interesting Facts</mat-card-title>
        <mat-card-subtitle><a href="#"></a></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul  class="text-left" >
          <li><p >Apply for online registration</p></li>
          <li><p >Fill online application form</p></li>
          <li><p >Upload scanned photos and signature</p></li>
          <li><p >Pay examination fees</p></li>
          <li><p >Download admit card</p></li>
          <li><p >Download admit card</p></li>
          <li><p >Download admit card</p></li>
          <li><p >Download admit card</p></li>


        </ul>
          </mat-card-content>
      <mat-card-actions>
   
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-sm-6 card-2">
    <mat-card class="login">
      <mat-card-header>
        <mat-card-title>LOGIN</mat-card-title>
        <mat-card-subtitle><a href="#">Need an account?</a></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <form [formGroup]="loginForm"> 
        <mat-form-field appearance="outline" >
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username" >
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" >
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" formControlName="password">
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
      </form>
      <div class="forgot-pass">
        <a href="#">Forgot Password?</a>
        </div>
          </mat-card-content>
          <div class="logo">
            <img  class="insta-logo" src="assets/insta.png">
            <img class="fb-logo" src="assets/fb.png">
            <img  class="google-logo" src="assets/google.png">
          </div>
      <mat-card-actions>
        <button mat-raised-button>Submit</button>
   
      </mat-card-actions>
    </mat-card>
  </div>
</section>
<footer></footer>
