.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  
  .container {
    padding: 10px;
    text-align: -webkit-center;
    padding: 70px 50px 50px 50px;
  }
  
  .form {
      width:365px;
    min-width: 100px;
    max-width: 500px;
    border: 2px solid black
  }
  .mat-form-field-appearance-legacy{
    width: 200px !important;
    margin-left: 89px !important;
    margin-right: 89px !important;

  }
       /* .mat-form-field-underline{ */


  
  .form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
    text-align: center;

  }
  .mat-form-filed{
      text-align: center;
  }
  
  .button {
    width: 100%;
  }
  .submitButton{
      margin-top: 4px !important;
      margin-bottom: 12px !important;
    width: 125px !important;
  }