
.card-1{text-align: -webkit-center;}
.card-2{text-align: -webkit-center;}

.login-card
{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.login{
  max-width: 400px;
 margin-top: 10px;
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); 
 margin-bottom: 10px;
 }
 .logo{ 
 
  width: 55%;
  height: 55px;
 }
 .facts{
  max-width: 400px;
 margin-top: 10px;
 margin-bottom: 10px;
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
 background: url('/assets/bg-joker.jpg') no-repeat ;
 background-size:cover;
 }
 ul{
   color: white;
   font-weight: bolder;
 }

 mat-card-title,mat-card-subtitle{
text-align: center;
 }
  button{
  // background: linear-gradient(-45deg,black,lightgrey);
  background:black; 
  color: white;
  
 } 
 mat-form-field{
   width: 100%;
 }
 mat-card-header{
   justify-content: center;
   margin-bottom: 30px;
   padding-top: 20px;
 }
 .forgot-pass{
   text-align: -webkit-right;
 }
 .insta-logo{
    width:20%;
  }
  .fb-logo{
    width:14.5%;
  }
  .google-logo{
    width:24%;
  }
  // 
  .login-card{
    background-image: url('/assets/bg-bulb.jpg');
  }
  .button-facebook,
.button-instagram,
.button-twitter,
.button-whatsapp {
    padding: 5px;
    font-size: 30pt;
}
.button-facebook {
    color: #3C5A99;
}
.button-instagram {
  color: #893dc2;
}
.button-twitter {
    color: #1DA1F2;
}
.button-whatsapp {
    color: #4AC959;
}
