<header></header>
<div class="profile-body">
    <div class="photo">
        <img src="/assets/profile.jpg"
            class="image--cover">
    </div>
    <div class="profile">

        <div id="rating-stars" align="center">
            <div class="stars">
                <label aria-label="first-star" class="star-label" for="rate-1"><i
                        class="rate-icon star-icon fa fa-star"></i></label>
                <input class="rate-input" name="rating" id="rate-1" value="1" type="radio">
                <label aria-label="second-star" class="star-label" for="rate-2"><i
                        class="rate-icon star-icon fa fa-star"></i></label>
                <input class="rate-input" name="rating" id="rate-2" value="2" type="radio">
                <label aria-label="third-star" class="star-label" for="rate-3"><i
                        class="rate-icon star-icon fa fa-star"></i></label>
                <input class="rate-input" name="rating" id="rate-3" value="3" type="radio">
                <label aria-label="fourth-star" class="star-label" for="rate-4"><i
                        class="rate-icon star-icon fa fa-star"></i></label>
                <input class="rate-input" name="rating" id="rate-4" value="4" type="radio">
                <label aria-label="fifth-star" class="star-label" for="rate-5"><i
                        class="rate-icon star-icon fa fa-star"></i></label>
                <input class="rate-input" name="rating" id="rate-5" value="5" type="radio">
            </div>
        </div>

        <h1 class="username">Yogesh Gupta</h1>
        <h2 class="profession"> Software Developer </h2>
        <h3 class="locationname"><i class="fas fa-map-marker-alt"></i> Delhi, India  </h3>
        <p class="descricao">An enthusiastic developer with a never-ending passion to learn new technologies.
             I like to push my boundaries out of my comfort zone aand explore as much as I can.
              I am a self-directed and motivated Web developer who works effectively in a dynamic environment.</p>

        <div class="socialmedia">
            <a href="#" class="button-facebook"><i class="fab fa-facebook-square"></i></a>
            <a href="#" class="button-instagram"><i class="fab fa-instagram"></i></a>
            <a href="#" class="button-twitter"><i class="fab fa-twitter-square"></i></a>
            <a href="#" class="button-whatsapp"><i class="fab fa-whatsapp-square"></i></a>
        </div>
    </div>
</div>
<footer></footer>