<header></header>
<section class="badge-default w3-center w3-animate-left entertainment">
  <div class="container">
    <div class="card about-us my-4" >
      <div class="card-header main-head px-3 py-0">
        <h2 class="innerheading">Welcome to Entertainment</h2>
      </div>
      <div class="card-body main-body">
        <p>
          Science and nature go hand in hand! Luckily for you, we have dozens of pages 
          covering this huge topic, 
          from space, to food, and even general health.

          So choose your favorite topic between our selections and fill your mind with
           crazy facts!
      </p>   
      <div class="row">
        <div class="col-sm-3 example-card">
         <mat-card >
             <mat-card-header> 
               <div mat-card-avatar class="art-design"></div>
               <mat-card-title>Art and Design  </mat-card-title>
             
             </mat-card-header>     
             <mat-card-content>
               <p>
                 This section spotlights the most amazing facts about the art and design
                  world that will leave you breathless with wonder and astonishment.
                   From fine art to pop art, colors, tattoos and elaborate jewellery,
                    you’re going to get a Grade A, front seat education that you can bank 
                    on!
               </p>
             </mat-card-content>
             <mat-card-actions>
               <button mat-fab  class="button-1"color="accent"><i class="fa fa-heart mr-1 "></i></button>      
               <button mat-fab class="button-1"color="basic"><i class="fa fa-share mr-1"></i></button>       
               <button mat-fab class="button-1"color="primary"><i class="far fa-paper-plane"></i></button>
             </mat-card-actions>
           </mat-card>
        </div>
        <div class="col-sm-3 example-card">            
         <mat-card >
           <mat-card-header> 
             <div mat-card-avatar class="celebrities"></div>
             <mat-card-title>Celebrities</mat-card-title>
           
           </mat-card-header>     
           <mat-card-content>
             <p>
               Most celebrities often are type cast into certain roles, however they are so 
               much more than what they seem on the big screen! Some celebrities never 
               aspired to gain fame – Shawn Mendes become a teenage heart-throb, internet 
               sensation and the youngest ever artist to debut in top of the
                Billboard Hot 100.
             </p>    
           </mat-card-content>
           <mat-card-actions>
             <button mat-fab  class="button-1"color="accent"><i class="fa fa-heart mr-1 "></i></button>      
             <button mat-fab class="button-1"color="basic"><i class="fa fa-share mr-1"></i></button>       
             <button mat-fab class="button-1"color="primary"><i class="far fa-paper-plane"></i></button>
           </mat-card-actions>
         </mat-card>
        </div>
        <div class="col-sm-3 example-card">
         <mat-card >
           <mat-card-header> 
             <div mat-card-avatar class="fashion-beauty"></div>
             <mat-card-title>Fashion and Beauty </mat-card-title>
           
           </mat-card-header>     
           <mat-card-content>
             <p>
               Both fashion styles and the concept of beauty are things that change with 
               every season and that differ greatly from various cultures. Simply crossing 
               into a new state or a new country can lead you to
                  encounter fashion styles that are so completely different from your own.        </p>
           </mat-card-content>
           <mat-card-actions>
             <button mat-fab  class="button-1"color="accent"><i class="fa fa-heart mr-1 "></i></button>      
             <button mat-fab class="button-1"color="basic"><i class="fa fa-share mr-1"></i></button>       
             <button mat-fab class="button-1"color="primary"><i class="far fa-paper-plane"></i></button>
           </mat-card-actions>
         </mat-card>
        </div>
         </div>
         <div class="row">
             <div class="col-sm-3 example-card">
               <mat-card >
                 <mat-card-header> 
                   <div mat-card-avatar class="film-tv"></div>
                   <mat-card-title>Film and TV  </mat-card-title>
                 
                 </mat-card-header>     
                 <mat-card-content>
                   <p>
                     Coming far from humble beginnings, a television series has become 
                     something no longer restricted to just TV – you can find TV shows
                      influencing games, books, comics and movies.
                     AMC’s hit show The Walking Dead spawned from the epic comic series
                      by Robert Kirkman.</p>
                 </mat-card-content>
                 <mat-card-actions>
                   <button mat-fab  class="button-1"color="accent"><i class="fa fa-heart mr-1 "></i></button>      
                   <button mat-fab class="button-1"color="basic"><i class="fa fa-share mr-1"></i></button> 
                   <button mat-fab class="button-1"color="primary"><i class="far fa-paper-plane"></i></button>      
                 </mat-card-actions>
               </mat-card>
             </div>
             <div class="col-sm-3 example-card">
               <mat-card >
                 <mat-card-header> 
                   <div mat-card-avatar class="tech"></div>
                   <mat-card-title>Technology</mat-card-title>
                 
                 </mat-card-header>     
                 <mat-card-content>
                   <p>
                     New gadgets and technology updates are released on almost a daily basis. It seems  just yesterday the first iPhone was released by Apple. Technology has advanced so much in such a short period of time, that it often seems  things get forgotten about or buried to make way for innovation.              </p>
                 </mat-card-content>
                 <mat-card-actions>
                   <button mat-fab  class="button-1"color="accent"><i class="fa fa-heart mr-1 "></i></button>      
                   <button mat-fab class="button-1"color="basic"><i class="fa fa-share mr-1"></i></button>     
                   <button mat-fab class="button-1"color="primary"><i class="far fa-paper-plane"></i></button>
       
                 </mat-card-actions>
               </mat-card>
             </div>
             <div class="col-sm-3 example-card">
               <mat-card >
                 <mat-card-header> 
                   <div mat-card-avatar class="music"></div>
                   <mat-card-title>Music  </mat-card-title>
                 
                 </mat-card-header>     
                 <mat-card-content>
                   <p>
                   People may make 
                    music as a hobby, like a teen playing cello in
                     a youth orchestra, or work as a professional musician or singer.
                    Sometimes you hear a new song that you can’t find even after searching for 
                    it online. But have no fear – these music facts are sure to get stuck in
                     your head!              </p>
                 </mat-card-content>
                 <mat-card-actions>
                   <button mat-fab  class="button-1"color="accent"><i class="fa fa-heart mr-1 "></i></button>      
                   <button mat-fab class="button-1"color="basic"><i class="fa fa-share mr-1"></i></button>    
                   <button mat-fab class="button-1"color="primary"><i class="far fa-paper-plane"></i></button>
        
                 </mat-card-actions>
               </mat-card>
             </div>
              </div>    
      </div>

    </div>
</div>
</section>

<footer></footer>        