<header></header>
<div class="">
  <div id="home" class="bg">
    <div>
      <h1>Home</h1>
      <span>The FACTOMANIA is the number one source for the most interesting & random facts about animals, celebrities, food, films, games & so much more. You will learn something about everything!</span>
    </div>
  </div>
  <div id="about" class="bg">
    <div>
      <h1>About the FACTOMANIA</h1>
      <span>The FACTOMANIA is an ever-growing knowledge base for the world’s most random and interesting facts.

        We have thousands of facts about nearly anything you could think of, from the cutest animals to the most dangerous crimes, there really is something to please everyone here.</span>
    </div>
  </div>
  <div id="services" class="bg">
    <div>
      <h1>Services we do</h1>
      <span>A Solution for every question</span>
    </div>
  </div>
  <div id="contact" class="bg">
    <div>
      <h1>Contact us</h1>
      <span>You can find the answers to some common questions on our FAQs page. If you can’t find your answer there, please feel free to contact us using the form, and we’ll get back to you as soon as possible.</span>
    </div>
  </div>
  <!-- <div class="newsletter">
    <p>Hear something from us</p>
    <div>
      Email
      <input placeholder="your.email@example.com">
      <button>Submit</button>
    </div>
  </div> -->
</div>
<footer></footer>
