<header></header>
       <section class="badge-default w3-center w3-animate-left science-nature">
            <div class="container">
              <div class="card about-us my-4" >
                <div class="card-header main-head px-3 py-0">
                  <h2 class="innerheading">Welcome to Science and Nature</h2>
                </div>
                <div class="card-body main-body">
                  <p>
                    Science and nature go hand in hand! Luckily for you, we have dozens of pages covering this huge topic, 
                    from space, to food, and even general health.

                    So choose your favorite topic between our selections and fill your mind with crazy facts!
                </p>       
          
                  <div id="accordion">
                    <div class="card my-4">
                      <div class="card-header inner-head-1">
                        <a class="collapsed card-link exam" data-toggle="collapse" href="#collapseOne">
                            <div class="d-flex justify-content-between">
                                <div class="text-left d-flex">
                                  Animals 
                                </div>
                                <div class="text-right d-flex arrow">
                                  <i class="fa fa-hand-point-down mr-1"></i> 
                                </div>
                              </div>
                        </a>
                      </div>
                      <div id="collapseOne" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                Here at The Fact Site we have countless facts covering all of the mammals, birds, insects, fish and pets in 
                                the world. You can learn more about the Komondor dog, a specific breed of dog that literally looks 
                                like a walking mop, or you can discover more about wolves, elephants, and tigers.     
                             </p>
                             <button mat-raised-button  class="button-1"color="accent"><i class="fa fa-heart mr-1 "></i>LIKE</button>      
                             <button mat-raised-button class="button-1"color="basic"><i class="fa fa-share mr-1"></i>SHARE</button>       
                             <button mat-raised-button class="button-2"color="primary"><i class="far fa-paper-plane"></i>FOR MORE</button>
                     
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header inner-head">
                        <a class="collapsed card-link exam" data-toggle="collapse" href="#collapseTwo">
                            <div class="d-flex justify-content-between">
                                <div class="text-left d-flex">
                                  Environmnet 
                                </div>
                                <div class="text-right d-flex arrow">
                                  <i class="fa fa-hand-point-down mr-1"></i> 
                                </div>
                              </div>                        </a>
                      </div>
                      <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                Our environment never fails to blow us away, from destructive tornado’s to ever so common grass,
                                 everything is always more complex than it seems. Even if you’re not the outdoors-y type, there’s 
                                 no denying we need nature to sustain ourselves. Important aspects aside, nature is also just darn
                                  cool!      
                             </p>
  
                        
                            <button mat-raised-button  class="button-1"color="accent"><i class="fa fa-heart mr-1 "></i>LIKE</button>      
                            <button mat-raised-button class="button-1"color="basic"><i class="fa fa-share mr-1"></i>SHARE</button>       
                            <button mat-raised-button class="button-2"color="primary"><i class="far fa-paper-plane"></i>FOR MORE</button>
 
                        </div>
                      </div>
                    </div>
                    <div class="card my-4">
                        <div class="card-header inner-head-1">
                          <a class="collapsed card-link exam" data-toggle="collapse" href="#collapseThree">
                            <div class="d-flex justify-content-between">
                                <div class="text-left d-flex">
                                  Food and Drink 
                                </div>
                                <div class="text-right d-flex arrow">
                                  <i class="fa fa-hand-point-down mr-1"></i> 
                                </div>
                              </div>                          </a>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                          <div class="card-body">
                              <p>
                                Mmmmm food! Prepare for mouthwateringly delicious facts about all the foods and drinks in the 
                                world! Here at the Fact Site we’ve dedicated an entire section to the most amazing and obscure 
                                facts about edibles around the world.   
 
                               </p>
                               <button mat-raised-button  class="button-1"color="accent"><i class="fa fa-heart mr-1 "></i>LIKE</button>      
                               <button mat-raised-button class="button-1"color="basic"><i class="fa fa-share mr-1"></i>SHARE</button>       
                               <button mat-raised-button class="button-2"color="primary"><i class="far fa-paper-plane"></i>FOR MORE</button>
                       
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header inner-head">
                          <a class="collapsed card-link exam" data-toggle="collapse" href="#collapseFour">
                            <div class="d-flex justify-content-between">
                                <div class="text-left d-flex">
                                  Health and Body 
                                </div>
                                <div class="text-right d-flex arrow">
                                  <i class="fa fa-hand-point-down mr-1"></i> 
                                </div>
                              </div>                          </a>
                        </div>
                        <div id="collapseFour" class="collapse" data-parent="#accordion">
                          <div class="card-body">
                              <p>
                                The human body is as complex as it is mysterious. So many systems work together in perfect
                                 cohesion all controlled by the epicenter – our brain. Despite there still being many things we 
                                 don’t understand about the body or mind, extensive research has revealed some amazing facts!
    
                               </p>
    
                          
                              <button mat-raised-button  class="button-1"color="accent"><i class="fa fa-heart mr-1 "></i>LIKE</button>      
                              <button mat-raised-button class="button-1"color="basic"><i class="fa fa-share mr-1"></i>SHARE</button>       
                              <button mat-raised-button class="button-2"color="primary"><i class="far fa-paper-plane"></i>FOR MORE</button>
   
                          </div>
                        </div>
                      </div>
                      <div class="card my-4">
                        <div class="card-header inner-head-1">
                          <a class="collapsed card-link exam" data-toggle="collapse" href="#collapseFive">
                            <div class="d-flex justify-content-between">
                                <div class="text-left d-flex">
                                  Maths 
                                </div>
                                <div class="text-right d-flex arrow">
                                  <i class="fa fa-hand-point-down mr-1"></i> 
                                </div>
                              </div>                          </a>
                        </div>
                        <div id="collapseFive" class="collapse" data-parent="#accordion">
                          <div class="card-body">
                              <p>
                                Once we’re done with school, we usually don’t give math a second thought. Even if it doesn’t 
                                cross our mind, it’s still an integral part to our daily functions.

                In order to give math the appreciation it deserves, we have some of the most interesting math facts, 
                including facts about your favorite numbers!        
                
                               </p>
                               <button mat-raised-button  class="button-1"color="accent"><i class="fa fa-heart mr-1 "></i>LIKE</button>      
                               <button mat-raised-button class="button-1"color="basic"><i class="fa fa-share mr-1"></i>SHARE</button>       
                               <button mat-raised-button class="button-2"color="primary"><i class="far fa-paper-plane"></i>FOR MORE</button>
                       
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header inner-head">
                          <a class="collapsed card-link exam" data-toggle="collapse" href="#collapseSix">
                            <div class="d-flex justify-content-between">
                                <div class="text-left d-flex">
                                  Space 
                                </div>
                                <div class="text-right d-flex arrow">
                                  <i class="fa fa-hand-point-down mr-1"></i> 
                                </div>
                              </div>                          </a>
                        </div>
                        <div id="collapseSix" class="collapse" data-parent="#accordion">
                          <div class="card-body">
                              <p>
                                We spend so much time focused on our own lives down here on earth that we often fail to notice
                                 the beautiful and wondrous things not on this planet. Our seemingly limitless universe is filled
                                  with truly astonishing things, and here at The Fact Site you can learn all about them!       

                               </p>
    
                          
                              <button mat-raised-button  class="button-1"color="accent"><i class="fa fa-heart mr-1 "></i>LIKE</button>      
                              <button mat-raised-button class="button-1"color="basic"><i class="fa fa-share mr-1"></i>SHARE</button>       
                              <button mat-raised-button class="button-2"color="primary"><i class="far fa-paper-plane"></i>FOR MORE</button>
   
                          </div>
                        </div>
                      </div>
                  </div>
                 
                </div>
          
              </div>
          </div>
          </section>

                  <footer></footer>        