<div id="result" fxLayout="column">
    <header></header>

    <div id="result-form-wrapper" fxLayout="column" >

        <div id="result-form">

            <div class="top">

                <!-- <div class="logo">
                    <img src="assets/images/logos/fuse.svg">
                </div> -->

                <div class="title">Hey! Checking Your Favourites</div>
                <div class="subtitle">It’s quite Empty yet, but we are working hard to make it full...
                </div>


            </div>


        </div>

    </div>
    <footer></footer>

</div>

